.flexRow {
    display: flex;
    flex-direction: row;
}

.itemGrid {
    width: 65vw;
    overflow: scroll;
    height: 88vh
}

.sidebar {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 24px;
}
.invoiceItemsList {
    min-height: 58vh;
    overflow: scroll;
}

.invoiceItemsTotalArea {
    display: flex;
    justify-content: end;
    width: 100%;
}

.payableValue {
    width: 50%;
    text-align: end;
    padding-right: 4px;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
}

.payableText {

}

.actionArea {
    display: flex;
    flex-direction: row-reverse;
}

.actionArea * {
    margin-left: 8px;
    margin-top: 8px;
}

.preorderArea {
    display: flex;
    flex-direction: row-reverse;
}

.discountArea {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

.inputArea {
    width: 200px !important;
}

.toast {
    position: absolute;
    left: 40%;
    top: 80%
}

.flexColumn {
    display: flex;
    flex-direction: column;
}



.customerInput {
    margin-left: 8px;
    margin-top: 8px;
}