.invoiceItem {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.invoiceItemDescription {
    width: 50%;
}

.invoiceItemTitle {
    font-size: 14px;
    font-weight: bold;
}

.invoiceItemSubtitle {
    color: darkgray;
    font-size: 12px;
}

.invoiceItemQuantity {
    font-size: 24px;
    text-align: left;
}

.invoiceItemPrice {
    font-size: 18px;
    width: 40%;
    text-align: right;
    font-style: italic;
    padding-right: 4px;
}

.incrementer {
    width: 36px;
    height: 36px;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.none {
    margin: 0;
    padding: 0;
}